.sidebar-wrapper {
  padding: 2.6875rem 2.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar {
  background: var(--background-color);
  width: 17rem;
  height: 100vh;

  &__logo {
    display: flex;
    align-items: center;

    img {
      height: 2rem;
      width: auto;
      cursor: pointer;
    }
  }

  &__navbar {
    &-items {
    }

    &-item {
      padding: 3rem 0;
    }
  }
}
