:root {
  // COLORS
  --color-main: #051f61;
  --color-sub: #757897;
  --color-brand: #0061ff;
  --color-wrapper-brand: #ebf2ff;
  // BACKGROUND COLORS
  --background-color: #fff;
  // SHADOW
  --box-shadow-main: 0px 2px 30px 0px #0000000f;
  // FONT SIZE
  --fs-tiny: 0.875rem;
  --fs-normal: 1rem;
  --fs-medium: 1.25rem;
  --fs-big: 1.5rem;
  --fs-biggest: 1.75rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
